{% extends 'base.html'%}
{% block content%}
<h1 class="text-center">TRENDING NEWS</h1>
<ul>
    {% for new in news %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img src="{{new.urlToImage}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{new.title}}</h5>
                    <p class="card-text"><strong>{{new.description}}</strong></p>
                    <p class ="card-text">{{new.content}}</p>
                    <p class="card-text"><small class="text-muted">{{new.publishedAt}}</small></p>

                    <a href="{{new.url}}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</ul>
{% endblock %}
